html {
  text-align: left;

}

body {
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 5px;
  width: 300px;
  box-shadow: 10px 10px grey;
}


img {
  height: 200px;
  width: 300px;
}

span {
  font-weight: bold;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#facts {
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 10px;
}
